fileTypes: [
  "tst"
]
name: "Test"
patterns: [
  {
    include: "#p1"
  }
  {
    include: "#p2"
  }
]
repository:
  p1:
    begin: "cat"
    end: "hat"
    name: "p1.hat.test"
  p2:
    begin: "cat"
    end: "boots"
    name: "p2.boots.test"
scopeName: "source.test"
